@use "style/scss" as *;

:host {
    padding: $app-layout-space;
    border: 1px solid $app-border-color;
    border-radius: 6px;
    display: block;
    margin-bottom: 1rem;
    cursor: pointer;
}

.category {
    color: $app-primary-color;
    font-weight: bold;
}

progressbar {
    width: 200px;
}

.percentage {
    width: 40px;
    text-align: right;
}

