<div class="d-flex gap-3 justify-content-between align-items-center">
    <div>{{ name }}</div>
    <div class="flex-grow-1 d-flex gap-3 justify-content-end align-items-center">
        <ng-container *ngIf="percentage !== null; else notSubmitted">
            <div class="category">{{ toFirstCase(category) }}</div>
            <progressbar [value]="percentage!"></progressbar>
            <div class="percentage">{{ percentage }}%</div>
        </ng-container>
        <ng-template #notSubmitted>
            <div>Not Participated</div>
        </ng-template>
    </div>
</div>
