@use "style/scss" as *;

:host {
    display: block;
    z-index: $z-index-section;
    background-color: $app-surface-color;
    padding: $app-layout-space;
    border-radius: $border-radius-lg;
    box-shadow: $app-shadow;

    &.app-section-full {
        min-height: 100%;
    }

    &:not(.app-section-full) {
        border-radius: $border-radius-lg;
    }

    &.app-section-transparent {
        margin: 0 $app-layout-space;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }

    &.app-section-loading, &.app-section-error {
        height: 100%;
    }
}
