@import "src/style/scss";

:host {
    display: block;
    position: fixed;
    top: $app-header;
    left: $app-sidebar;
    width: calc(100vw - $app-sidebar);
    height: calc(100vh - $app-header);
    background-color: $app-background-color;
    padding: $app-layout-space $app-layout-space 0 $app-layout-space;
    overflow-y: auto;

    //::ng-deep > *:not(router-outlet) {
    //    display: block;
    //    height: 100%;
    //}
}
