@use "style/scss" as *;

.quiz {
    margin-bottom: $spacer-4;

    .form-check {
        margin-bottom: 10px;
    }

    .marking {
        position: absolute;
        height: 100%;
        width: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
    }

    .incorrect-marking {
        display: none;
    }

    .correct-marking {
        color: $app-success;
    }

    &.incorrect {
        .correct-marking {
            display: none;
        }

        .incorrect-marking {
            color: $app-danger;
            display: inline;
        }

        .form-check {
            .form-check-input:checked {
                background-color: $app-danger;
                border-color: $app-danger;

                + .form-check-label {
                    color: $app-danger;
                }
            }

            &.answer .form-check-label {
                border-bottom: 2px solid $app-success;
            }
        }
    }

    .quiz-heading {
        font-weight: $font-bold;
        margin-bottom: $spacer-1;
    }

    .quiz-title {
        font-weight: $font-bold;
        margin-left: $spacer-3;
        margin-bottom: $spacer-1;
    }

    .quiz-body {
        position: relative;
        margin-left: $spacer-3 * 2;

        .quiz-choices {
            .form-check-label, .form-check-input {
                cursor: pointer;
            }

            &.rating-choices {
                display: flex;
                align-items: flex-end;
                gap: 2rem;
                color: $app-gray-700;

                .form-check {
                    display: inline-flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    gap: 0.5rem;
                    margin: 0;
                    padding: 0;

                    .form-check-input {
                        margin: 0;
                    }
                }
            }
        }

        .quiz-input {

        }
    }

    .form-check-label {
        opacity: 1;
    }
}
