<app-section [loading]="loading" [error]="error" (onRefresh)="refresh()" class="mb-4">
    <ng-template appSectionHeading>
        <div class="d-flex align-items-start justify-content-between">
            <h4 class="mb-4 font-bold">Student's Answers</h4>
            <a class="view-link font-bold" [routerLink]="['/admin/students', studentId]">Back</a>
        </div>
    </ng-template>

    <table>
        <tr>
            <td class="label">Name:</td>
            <td class="value">{{ student?.name }}</td>
        </tr>
        <tr>
            <td class="label">Reg No:</td>
            <td class="value">{{ student?.regNo }}</td>
        </tr>
        <tr>
            <td class="label">Birthday:</td>
            <td class="value">{{ student?.dob }}</td>
        </tr>
        <tr>
            <td class="label">Gender:</td>
            <td class="value">{{ toFirstCase(student?.gender) }}</td>
        </tr>
    </table>
</app-section>

<app-student-quiz *ngIf="quizType && studentId" [quizType]="quizType" [studentId]="studentId" [readonly]="true"></app-student-quiz>
