<app-section [transparent]="child">
    <ng-template appSectionHeading>
        <div class="d-flex align-items-start justify-content-between">
            <h4 class="mb-4 font-bold">Index of Learning Styles (ILS) Result</h4>
            <a *ngIf="result" class="view-link font-bold" [routerLink]="[QuizType.SELF_RATING]">View Answers</a>
        </div>
    </ng-template>

    <ng-container *ngIf="result; else notParticipated">
        <ng-container *ngFor="let pair of result.pairs; let i = index">
            <div class="d-flex justify-content-between px-4 py-2 font-lg">
                <div *ngFor="let single of pair">{{ single.label }} ({{ single.percentage }}%)</div>
            </div>
            <div class="d-flex">
                <!--suppress JSUnusedGlobalSymbols -->
                <div *ngFor="let single of pair; let j = index" class="w-50 ps-1 pe-4" [class.flip-vertical]="!j">
                    <progressbar class="mb-3" [value]="single.percentage" [type]="colors[i]"></progressbar>
                </div>
            </div>
        </ng-container>

        <div class="d-flex flex-column align-items-center gap-3 mt-4">
            <h3>Category: {{ result.final.label }}</h3>
            <h5>Result: {{ result.final.count }}</h5>
            <h5>Percentage: {{ result.final.percentage }}%</h5>
            <h6>
                <span style="color: red">* </span>
                <ng-container [ngSwitch]="result.final.category">
                    <span *ngSwitchCase="StyleCategory.ACTIVIST">{{ who }} prefers to try things out, working with others in groups</span>
                    <span *ngSwitchCase="StyleCategory.REFLECTOR">{{ who }} prefers thinking things through, working alone or with familiar partner</span>
                    <span *ngSwitchCase="StyleCategory.SENSING">{{ who }} prefers concrete thinking, practical, concerned with facts and procedures</span>
                    <span *ngSwitchCase="StyleCategory.INTUITIVE">{{ who }} prefers conceptual thinking, innovative, concerned with theories and meanings</span>
                    <span *ngSwitchCase="StyleCategory.VISUAL">{{ who }} prefers visual representations, pictures, diagrams, and flow charts</span>
                    <span *ngSwitchCase="StyleCategory.VERBAL">{{ who }} prefers written and spoken explanations</span>
                    <span *ngSwitchCase="StyleCategory.SEQUENTIAL">{{ who }} prefers linear thinking, orderly, learns in small incremental steps</span>
                    <span *ngSwitchCase="StyleCategory.GLOBAL">{{ who }} prefers holistic thinking, systems thinkers, learns in large leaps</span>
                </ng-container>
            </h6>
        </div>
    </ng-container>

    <ng-template #notParticipated>
        <div>
            <div class="alert alert-warning mb-0">
                <h4 class="alert-heading">Not Participated</h4>
                <p>This student has not participated in the quiz.</p>
            </div>
        </div>
    </ng-template>
</app-section>
