<app-section [full]="true" [loading]="loading" [error]="error" (onRefresh)="refresh()">
    <ng-template appSectionHeading>
        <h4 *ngIf="title" class="font-bold">{{ title }}</h4>
        <p *ngIf="rating" class="mb-4">
            {{ desc }}
        </p>
    </ng-template>

    <div *ngIf="!studentId && submitted" class="mb-5">
        <div class="alert alert-success">
            <h4 class="alert-heading">Thank you!</h4>
            <p>Your answers have been submitted.</p>
        </div>
    </div>

    <qz-list
        [items]="quizzes"
        [(answers)]="answers"
        [submitted]="submitted"
        [rating]="rating"
        [limit]="limit"
        (answersChange)="onAnswersChange()"
        (onSubmit)="onSubmit()"
        [readonly]="readonly || submitted"
    ></qz-list>
</app-section>
