<div class="header-content d-flex justify-content-around align-items-center">
    <div class="header-left d-flex align-items-center flex-none">
        <!--suppress AngularNgOptimizedImage -->
        <img class="logo" src="assets/images/svg/logo/logo.svg" alt="" />
        <div class="ms-3 font-black nowrap title">Learning Style Analyser</div>
    </div>
    <div class="header-center flex-grow-1"></div>
    <div class="header-right flex-none d-flex align-items-center justify-content-end gap-3 pe-3">
        <h5 class="m-0 font-bold">{{ user?.name }}</h5>
        <!--<app-notifications></app-notifications>-->
        <app-pop-up-menu class="me-3" [items]="menuItems"></app-pop-up-menu>
    </div>
</div>
