<app-section>
    <ng-template appSectionHeading>
        <div class="d-flex align-items-start justify-content-between">
            <h4 class="mb-4 font-bold">After Lesson Feedback</h4>
        </div>
    </ng-template>

    <div>
        @if (result()?.answers?.length) {
            @for (item of result()?.quizCollection?.quizzes; track item) {
                <div>
                    <div class="label">{{ item.question }}</div>
                    <div class="value">{{ getAnswer(item.id) }}</div>
                </div>
            }
        } @else {
            <div class="alert alert-warning">
                <h4 class="alert-heading">No Results!</h4>
                <p>You have not completed this questionnaire yet.</p>
            </div>
        }
    </div>
</app-section>
