<div class="quiz bordered rounded p-4 mb-4">
    <button type="button" class="btn-remove-quiz btn-close btn" (click)="onRemove.emit($event)"></button>
    <div class="font-bold font-lg mb-2">Question {{ index !== undefined ? index + 1 : "" }}</div>
    <ng-input required class="flex-grow-1" noValidation ngTextarea size="sm" [(ngModel)]="quiz.question" (ngModelChange)="onQuizChange()"></ng-input>
    <div class="">
        <div class="font-bold mt-3 mb-2">Choices</div>
        <div class="choices">
            <div class="d-flex gap-3 align-items-center mb-3" *ngFor="let choice of quiz.choices; let i = index">
                <ng-select-box
                    *ngIf="extenders"
                    class="extender-select"
                    size="sm"
                    [ngStyle]="{ width: extenders!.width }"
                    [items]="extenders!.items"
                    [(ngModel)]="selectedExtenders[i]"
                    bindLabel="label"
                    [searchable]="false"
                    [clearable]="false"
                ></ng-select-box>
                <ng-input class="choice flex-grow-1" noValidation size="sm" [(ngModel)]="choice.value" (ngModelChange)="onQuizChange()"></ng-input>
                <input
                    class="form-check-input"
                    [type]="quiz.multiple ? 'checkbox' : 'radio'"
                    [name]="quiz.id + 'choice'"
                    [id]="quiz.id + '_choice_' + (i + 1)"
                    [checked]="quiz.answer?.map(mapChoiceId)?.includes(choice.id)"
                    (click)="answerChange(choice)"
                />
                <div class="choice-remove">
                    <button *ngIf="(quiz.choices?.length ?? 0) > 2" type="button" class="btn-close btn" (click)="removeChoice(choice)"></button>
                </div>
            </div>
            <ng-button class="flex-grow-1" size="sm" styleClass="btn-app-primary" (onClick)="addChoice()"><i class="bi bi-plus"></i> Add Choice </ng-button>
        </div>
    </div>
</div>
