@use "style/scss" as *;

:host ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-option-label {

}

.quiz {
    position: relative;
}

th {
    text-align: center;
}

th, td {
    padding-bottom: $spacer-2;
}

.choice {
    max-width: 400px;
}

.choice-label {
    width: 80px;
}

.btn-space {
    width: 16px;
}

.btn-remove-quiz {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-close:focus {
    box-shadow: none !important;
}

.form-check, .form-check-input, .form-check-label {
    cursor: pointer;
}

.extender-select {
    display: block;
    height: 39px
}

.form-check-input, .choice-remove {
    width: 16px;
}

.rating-choices {
    .choices {
        .choice {
            width: 60px;
            ::ng-deep input {
                text-align: center;
            }
        }
    }
}
