$app-white:    #fff !default;
$app-gray-100: #f8f9fa !default;
$app-gray-200: #e9ecef !default;
$app-gray-300: #dee2e6 !default;
$app-gray-400: #ced4da !default;
$app-gray-500: #adb5bd !default;
$app-gray-600: #6c757d !default;
$app-gray-700: #495057 !default;
$app-gray-800: #343a40 !default;
$app-gray-900: #212529 !default;
$app-black:    #000 !default;

$app-blue:    #0d6efd !default;
$app-indigo:  #6610f2 !default;
$app-purple:  #6f42c1 !default;
$app-pink:    #d63384 !default;
$app-red:     #dc3545 !default;
$app-orange:  #fd7e14 !default;
$app-yellow:  #ffc107 !default;
$app-green:   #198754 !default;
$app-teal:    #20c997 !default;
$app-cyan:    #0dcaf0 !default;

$app-primary:       $app-blue !default;
$app-secondary:     $app-gray-600 !default;
$app-disabled:      #dadada40 !default;
$app-success:       $app-green !default;
$app-info:          $app-cyan !default;
$app-warning:       $app-yellow !default;
$app-danger:        $app-red !default;
$app-light:         $app-gray-100 !default;
$app-dark:          $app-gray-900 !default;

$scroll-bar-size: 10px;

$app-header: 100px;
$app-sidebar: 300px;
$app-footer: 0;
$app-layout-space: 24px;
$app-card-radius: 10px;

$app-content-header: 85px;
$app-table-row-height: 50px;
$app-pagination-padding: 15px;
$app-pagination-item: 40px;

// 3D Position
$z-index-app: 100;
$z-index-section: 99;

// Shadow
$app-shadow: 0 0 10px #2121211A;

// Light theme
$app-primary-color: #399100;
$app-secondary-color: #275e01;
$app-ternary-color: #7CB342;
$app-accent-color: #5dce17;

$app-surface-color: #ffffff;
$app-background-color: #F4F5FA;
$app-border-color: #D0D0D0;

$app-text-color: #222629;
$app-sub-text-color: #737373;
$app-text-invert-color: #F1F8E9;


$app-body-color: #F0F2F5;
$app-menu-color: #f0f0f0;
$app-light-color: #ffffff;
$app-hover-color: #ffffff;
$app-text-secondary-color: #909090;
$app-text-secondary-invert-color: #cbcbcb;
$app-disabled-color: #909090;

// Dark theme
//$app-primary-color: #7CB342;
//$app-secondary-color: #33691E;
//$app-ternary-color: #7CB342;
//$app-accent-color: #5dce17;
//$app-body-color: #434343;//
//$app-menu-color: #4f4f4f;//
//$app-light-color: #222629;//
//$app-text-color: #ffffff;//
//$app-hover-color: #ffffff;
//$app-text-secondary-color: #cbcbcb;//
//$app-text-invert-color: #222629;//
//$app-text-secondary-invert-color: #909090;//
//$app-disabled-color: #909090;

// Fonts weight
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-bolder: 800;
$font-black: 900;

// Fonts size
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-5xl: 3rem;
$font-size-6xl: 4rem;
$font-size-7xl: 5rem;
$font-size-8xl: 6rem;
$font-size-9xl: 8rem;
$font-size-10xl: 10rem;

// Spacing
$app-spacer: 1rem !default;
$spacer-1: $app-spacer * .25;
$spacer-2: $app-spacer * .5;
$spacer-3: $app-spacer;
$spacer-4: $app-spacer * 1.5;
$spacer-5: $app-spacer * 3;

$border-radius-lg: .5rem;
