<app-section [loading]="loading" [error]="error">
    <ng-template appSectionHeading>
        <h4 class="mb-4 font-bold">After Lesson Feedback Analysis</h4>
    </ng-template>

    <div>
        @if (quizzes?.answers?.length) {
            @for (quiz of quizzes?.quizzes; track quiz) {
                <div class="mb-5">
                    <div class="font-bold mb-3">{{ quiz.question }}</div>
                    <div>
                        <canvas baseChart [data]="barChartDataSet[$index]" [options]="barChartOptions" [type]="'bar'"> </canvas>
                    </div>
                    <div class="ps-5 ms-4">Weighted Average: {{ weightedAverage[$index] }}</div>
                </div>
            }
        } @else {
            <div class="alert alert-warning">
                <h4 class="alert-heading">No Results!</h4>
                <p>No one has completed this questionnaire yet.</p>
            </div>
        }
    </div>
</app-section>
